<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/jass.css" />
  </head>

  <body>
    <header class="display-flex justify-space-between p-2">
      <h1>
        Tech Blog
      </h1>
      <span>
        <nav><a href="/">Home</a></nav>
        <!-- Only display the logout button if the user is logged in -->
        {{#if logged_in}}
          <nav>
            <a id="logout" href="#">logout</a>
          </nav>
        {{else}}
          <nav>
            <a id="login" href="#">login</a>
          </nav>
        {{/if}}
      </span>
    </header>
    <main class="container container-fluid mt-5">
      {{{body}}}
    </main>
    <footer>

    </footer>

    <!-- Only include the logout script if the user is logged in -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{else}}
      <script src="/js/login2.js"></script>
    {{/if}}
  </body>

</html>