{{#each blogs as |blog|}}
  <div class="row align-center mb-5">
    <div class="col-md-12">
      <h2>{{blog.dataValues.title}}</h2>
    </div>
    <div class="col-md-12">
      <h3>{{blog.dataValues.contents}}</h3>
    </div>
  </div>
{{/each}}